/*
* === Footer style ===
*/

/*Footer style*/

footer {
    background-color: #fff;
    height: 60px;
    width: 100%;
    border-top: 1px, solid #CCC;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 0;
    position: absolute;
}