/*
* === header style ===
*/

/*header style*/

header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px, solid #ccc;
    background: #fff url(../images/logo.png) 20px center no-repeat;

}